<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes!</title>
</head>
<body>
    <h1>Cupcakes!</h1>
    <ul id="cupcakes-list">

    </ul>
    <h2>Add a new cupcake!</h2>
    <form action="" id="new-cupcake-form">
        <p><input type="text" name="flavor" id="cupcake-flavor" placeholder="Flavor"></p>
        <p><input type="text" name="size" id="cupcake-size" placeholder="Size"></p>
        <p><input type="number" name="rating" id="cupcake-rating" placeholder="Rating"></p>
        <p><input type="text" name="image" id="cupcake-image" placeholder="Image URL"></p>
        <p><button>Submit</button></p>
    </form>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/cupcakes.js"></script>
</body>
</html>